@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
	font-family: 'Josefin Sans', sans-serif;
}

:root {
    --gradient-color: linear-gradient(90deg, 0%, rgba(124,124,194,1) 35%, rgba(0,212,255,1) 100%);
}

header .menu li, header .menu li a, header .menu button{
    font-weight: 500;
    fot-size: 16px;
    color: #24252A;
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
}


header.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

header.menu nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 25%;
}

header .menu .logo{
    cursor: pointer;
}

header .menu .nav_links{
    list-style: none;
    display: flex;
    flex-direction: row;
}

header .menu .nav_links li{
    display: inline-block;
    padding: 0 20px;
}

header .menu .nav_links li a {
    transition: all 0.3s ease 0s;
}

header .menu .nav_links li a:hover {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    background-color: #0ad6b4 !important;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

button:hover{
    transition: all 0.5s ease-in-out 0s;
	border: none;
}

 .carousel-button {
	background-color: transparent !important;
 }

img .cards-1{
    height: 500px;
}

.container {
    display: block;
    text-align: center;
}

.form-row{
    display: block;
    max-width: 400px;
    margin: 20px auto;
}

.container .form-row input[type=text]{
    display: block;
    width: 100%;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 12px;
}

/*Navbar*/
.navbar-light .navbar-nav .nav-link {
	color: #F5F5F5 !important;
}

.navbar-light .navbar-nav .nav-link a:hover {
    color: #F6F6F6; 
}

.navbar-light .navbar-nav .nav-link ion-icon {
    background-color: #0AD6B4;
    font-size: 1000px;
}

.navbar-brand {
    color: #F5F5F5 !important;
	font-size: 70px;
	
}
.nav-btn {
	color: #F5F5F5;
}
.nav-btn:hover {
    color: #E0E0E0; 
}

.navbar {
	width: 100%;
	position: fixed;
	padding: .5rem;
	font-size: 1.5rem;
	opacity: .5rem;
}
#myModal {
	border: none;
}

/*Footer*/
.footer .text-center {
	background-color: #F0D3F7;
	margin: auto;
	margin-top: 2rem;
	position: relative;
	bottom: 0;
	width: 100%;
	color: #000;
	padding: 1.5rem 0rem 0.5rem 0rem;
}
.footer-up {
	background-color: #F0D3F7;
}

/*Input button*/
input[type="file"] {
  display: none;
}

.custom-file-upload {
  transition: 0.5s;
  border: 1px solid #ffad99;
  color: #ffad99;
  border-radius: 6px;
  display: inline-block;
  box-shadow: 0 7px 25px rgb(0, 0, 0, 0.08);
  padding: 6px 12px;
  cursor: pointer;
}

.custom-file-upload:hover {
  transition: 0.5s;
  border: 1px solid #ffad99;
  background-color: #ffad99;
  color: #fff;
  box-shadow: 0 7px 25px rgb(0, 0, 0, 0.08);
  border-radius: 6px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.title {
	justify-content: center;
	margin: auto;
	font-size: 3rem;
	display: block;
	text-align: left;
}
#title {
	font-size: 3rem;
	font-weight: 10rem;
}
#keyword1 {
	background-color: #CF75E6;
}
#keyword2 {
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-color: #0AD6B4;
}
.header-btn {
	padding: .5rem !important;
	width: 150px;
	height: 50px;
	font-size: 15px;
}

.carousel {
	width: 40%;
	margin: 0 !important;
}

@media screen and (min-width: 1100px) {
	.carousel {
		width: 35%;
	}	

	#title {
		font-size: 4rem;
		font-weight: 13rem;
	}
}

